#intro {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#intro > #name {
  color: darkgrey;
}

#intro > #description {
  color: cadetblue;
  background-color: azure;
}

#mood {
  font-family: "Courier New", Courier, monospace;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p::first-letter {
  font-size: 1.5em;
}

#fav-list {
  display: flex;
  flex-direction: column-reverse;
}
